.breadcrumb {
	font-size: 17px;
}

/*There is a bug in our version of bootstrap breadcrumbs this is to fix it for now.*/
.breadcrumb > li + li:before {
	content: "\00a0/\00a0";
	color: $breadcrumb-color;
}

ol.breadcrumb {
	padding-left: 0;
}

.body-content > .container > .breadcrumb,
.body-content > .container-fluid > .breadcrumb {
		margin-top: 40px - $breadcrumb-padding-vertical - $navbar-margin-bottom;
}
