$checkbox-size: 24px;

.salus-checkbox {
	position: relative;

	display: block;
	padding-left: $checkbox-size;
	margin-top: 10px;
	margin-bottom: 10px;

	input[type=checkbox] {
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
	}

	label {
		cursor: pointer;
		font-weight: normal;
	}
}

.checkbox-icon {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: $checkbox-size;
	height: $checkbox-size;
	background-image: url("/images/icons/dashboard/icon_box_unchecked.svg");
	background-size: contain;
	background-color: $GRY_LT5;
	border: 1px solid #979797;
	border-radius: 5px;

	&.disabled {
		display: none;
	}

	&.checked {
		background-image: url("/images/icons/dashboard/icon_box_checked.svg");
		background-color: $WHT0;
		border: 1px solid #1E88E5;
		border-radius: 5px;

		&.purple {
			background-image: url("/images/icons/dashboard/icon_box_checked_purple.svg");
		}
		&.green {
			background-image: url("/images/icons/dashboard/icon_box_checked_green.svg");
		}
		&.orange {
			background-image: url("/images/icons/dashboard/icon_box_checked_orange.svg");
		}
		&.yellow {
			background-image: url("/images/icons/dashboard/icon_box_checked_yellow.svg");
		}
	}
}

/* set the inner circle of the checkbox toggle to be visible when the checkbox is checked */

.salus-checkbox input[type=checkbox]:checked + .checkbox-toggle:after {
	opacity: 1;
}

.checkbox-text {
	margin-left: 15px;
}