
.window-sensor-rule-top {
    
    padding: 15px;
    border-color: #1565C0;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    background: #F9FCFF;
    
    .window-sensor-icon {
			background-image: url("/images/icons/myEquipment/icon_window_open_mini.svg");
            background-size: 39px 39px;
            height: 39px;
            width: 39px;
	}
    
    .page-title{
            font-size: 23px;
            font-weight: 500;
            margin-left: 10px;
    }
    
    .desc {
        
        margin-top: 5px;
        
        .desc-item {
            
            overflow:hidden;
            
            margin-bottom: 5px;
            
            .open-desc-1{
                color: #989A9B;
            }

            .open-desc-2{

            }

            .closed-desc-1{
                color: #989A9B;
            }

            .closed-desc-2{

            }
        }
    }
    
    
    .select-rule {
        overflow: hidden;
        margin-top: 20px;
        padding: 5px;
        
        border-color: #1565C0;
        border-width: 1px;
        border-radius: 10px;
        border-style: solid;
        background: #D4EDFC;
    }
    
    
}


.window-sensor-text {
    font-size: 18px;
    margin: 30px 10px;
}
