$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans/OpenSans-Regular.ttf');
	font-weight: $font-weight-regular;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans/OpenSans-Bold.ttf');
	font-weight: $font-weight-bold;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans/OpenSans-Semibold.ttf');
	font-weight: $font-weight-semibold;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans/OpenSans-Light.ttf');
	font-weight: $font-weight-light;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: $font-weight-regular;
}

.font-bold {
	font-weight: $font-weight-bold;
}

.font-semi-bold {
	font-weight: $font-weight-semibold;
}

.font-light {
	font-weight: $font-weight-light;
}

.text-color-wht0 {
	color: $WHT0;
}

.text-color-blu2 {
	color: $BLU2;
}

