.privacy-page {
    .logo {
        background-image: url("/images/salus-logo.png");
		background-repeat: no-repeat;
        background-position: center;
		background-size: contain;
		height: 45px;
		margin-top: 10px;
    }
    
    h5 {
        margin-top: 20px;
        font-weight: bold;
    }
    
    .information {
        ul li {
            margin: 0;
        }
    }
    .collection {
        ul {
            list-style-type: square;
            li {
                margin-bottom: 10px;
                p {
                    display: inline;
                }
            }
        }
    }
    
    .cookies {
        table tr td {
            padding: 6px;
            vertical-align: text-top;
            .special {
                border: 2px solid black;
                padding: 0 10px;
                margin-top: 20px;
                width: 80%;
            }
        }
    }
    
    section.uses {
        ul {
            list-style-type: none;
            padding-left: 0;
        }
    }
    
    .disclosure {
        ul li {
            margin-bottom: 10px;
            p {
                display: inline;
            }
        }
    }
    
    .back-button-region { 
        margin: 25px 0;
        .btn {
            width: 80px;
            margin: 0 auto;
            display: block;
        }
    }
}

.terms-page {
    .logo {
        background-image: url("/images/salus-logo.png");
		background-repeat: no-repeat;
        background-position: center;
		background-size: contain;
		height: 45px;
		margin-top: 10px;
    }
    
    h5 {
        margin-top: 20px;
        font-weight: bold;
    }
    
    section.notice {
        ul {
            padding-left: 18px;
        }
    }
    
    .back-button-region { 
        margin: 25px 0;
        .btn {
            width: 80px;
            margin: 0 auto;
            display: block;
        }
    }
}

