#newStatus {
	.myStatus-icons-toggle {
		color: $BLU4;
		font-size: 18px;

		.toggle-button {
			position: relative;
			cursor: pointer;
			height: 25px;
			width: 250px;

			.toggle-text {
				position: absolute;
				right: 5px;
				width: 150px;
				height: 25px;
			}
			.collapse-up {
				position: absolute;
				background-image: url("/images/icons/myStatus/misc/icon_collapse.svg");
				background-repeat: no-repeat;
				height: 25px;
				width: 25px;
				background-position: 50% 50%;
				left: 50px;
				background-size: contain;
			}

			.expand-down {
				position: absolute;
				background-image: url("/images/icons/myStatus/misc/icon_expand.svg");
				background-repeat: no-repeat;
				height: 25px;
				width: 25px;
				background-position: 50% 50%;
				left: 50px;
				background-size: contain;
			}
		}
	}

	.tile-collection {
		margin-bottom: 20px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 12px;
		}
	}

	.select-instruction-text {
		font-size: 18px;
		color: $GRY3;
		margin-bottom: 50px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 24px;
		}
	}

	.cancel-button {
		@media (min-width: $screen-sm-min) {
			float: right;
		}
	}

	.submit-button {
		margin-bottom: 15px;

		@media (min-width: $screen-sm-min) {
			float: right;
			margin-bottom: 0;
		}
	}
}

.my-status-tile {
	margin-bottom: $TILE-BOTTOM-MARGIN;

	.myStatus-selected {
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
	}

	.tile-text {
		position: absolute;
		color: $WHT0;
		bottom: 0;
		left: 3px;
		font-size: 12px;
		width: calc(100% - 6px);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@media (min-width: $screen-sm-min) {
			left: 5px;
			width: calc(100% - 10px);
			font-size: 22px;
		}

		@media (min-width: $screen-md-min) {
			bottom: 5px;
			left: 8px;
			width: calc(100% - 16px);
			font-size: 24px;
		}
	}

	.selected {
		min-width: 25px;
		min-height: 25px;
		height: 17.5%;
		width: 17.5%;
		top: -7%;
		left: 84%;
		padding: 0;
		border: 4px solid $WHT0;
		border-radius: 50%;
/*		background-color: $WHT0;*/
		background-image: url("/images/icons/dashboard/icon_radio_selected.svg");

		@media (min-width: $screen-sm-min) {
			left: 83%;
		}

		@media (min-width: $screen-md-min) {
			top: -4%;
			left: 87%;
		}

		@media (min-width: $screen-lg-min) {
			left: 88%;
		}
	}

	.deselected {
		border: 0;
		width: 15%;
		height: 15%;
		top: 5%;
		left: 79%;
		opacity: 0.5;
		background-image: url("/images/icons/dashboard/icon_radio_not_selected.svg");
	}
}

