.edit-single-control-modal {
	.header {
		border-bottom: 1px solid $GRY_LT1;
		color: $BLU3;
	}

	.empty-list-msg {
		height: 44px;
		text-align: center;
		padding-top: 10px;
		font-size: 15px;
	}

	.individual-controls-header {
		padding-top: 10px;
		padding-left: 15px;
		font-size: 18px;
		color: $GRY3;
		height: 44px;
		background-color: $GRY_LT8;
		margin-top: 54px;
	}

	.individual-control-row {
		padding-top: 12px;
		padding-left: 15px;
		margin-left: 0;
		margin-right: 0;
		font-size: 16px;
		height: 44px;
	}

	.alert {
		margin-top: 18px;
	}

	.buttons-row {
		margin-top: 34px;
	}
}

.duplicate-schedule-modal {
	.header {
		color: $BLK3;

		.subheader {
			font-weight: bold;
		}
	}
}