.setup-wizard-page {
	margin-top: - $navbar-margin-bottom; //remove header margin

	.page-header {
		margin-top: 10px;

		.h1 {
			color: $COLOR-HEADER;
			margin-bottom: 17px;
			letter-spacing: 1px;
			@include set-responsive-font-size(40px, 48px, true);
		}

		.page-header-text {
			@include set-responsive-font-size(14px, 16px, false);
			line-height: 1.5;
			margin: 0 0 7px;
		}

		//remove bootstrap styles
		border-bottom: 0;
	}
}

.pairing-page {
	text-align: center;
	padding-bottom: 50px;
	margin-top: - $navbar-margin-bottom; //remove header margin

	.instruction-box-image {
		margin: 0 auto;
		width: 300px;
		height: 220px;
		background: url("/images/icons/setupWizard/Select_Equipment.jpg") no-repeat center;
		background-size: contain;
	}

	.header-row {
		padding-top: 0;
        font-size: 16px;
		color: $GRY3;
        font-weight: bold;
        margin: 25px 0;

		@media (min-width: $screen-sm-min) {
			font-size: 16px;
		}
	}

	.image-row {
		padding-top: 50px;
	}

	.paragraph-row {
		padding-bottom: 10px;
		font-size: 16px;
		color: $GRY3;
	}

	.btn {
		border-color: $ORG4 !important;
	}
}

.landing-page {
	.btn {
		background-color: $ORG4 !important;
		border-color: $ORG4 !important;
	}

	.instruction-box-image {
		margin: 0 auto;
		width: 100%;
		max-width: 294px;
		min-height: 178px;
		max-height: 220px;
		background: no-repeat center;
		background-size: contain;
	}

	.instruction-block {
		text-align: center;
		padding-bottom: 50px;
	}

	.active {
		.instruction-box-image {
			&.create-profile {
				background-image: url("/images/icons/setupWizard/Profile_Active.jpg");
			}

			&.gateway-connect {
				background-image: url("/images/icons/setupWizard/Gateway_Active.jpg");
			}

			&.equipment-connect {
				background-image: url("/images/icons/setupWizard/Connect_Active.jpg");
			}

			&.equipment-share {
				background-image: url("/images/icons/setupWizard/Download_Active.jpg");
			}
		}
	}

	.instruction-box-image {
		&.create-profile {
			background-image: url("/images/icons/setupWizard/Profile_Inactive.jpg");
		}

		&.gateway-connect {
			background-image: url("/images/icons/setupWizard/Gateway_Inactive.jpg");
		}

		&.equipment-connect {
			background-image: url("/images/icons/setupWizard/Connect_Inactive.jpg");
		}

		&.equipment-share {
			background-image: url("/images/icons/setupWizard/Download_Inactive.jpg");
		}
	}

	.instruction-paragraph {
		padding-top: 30px;

		@media (min-width: $screen-md-min) {
			min-height: 70px;
		}
	}

	.button-area {
		padding-top: 30px;
	}

	.title-row{
		text-align: center;
		padding-bottom: 50px;
	}

	.sub-header {
		color: $GRY3;
		font-size: 16px;
	}

	h1 {
		font-size: 36px;
		color: $BLU3;
	}
}

.setup-wizard-header {
	background-image: url("/images/setup/header_pattern.png");
	height: 120px;
	margin-bottom: $navbar-margin-bottom; //add header margin back
}

.instruction-text-steps {
	ol {
		margin-top: 15px;
		text-align: left;

		li {
		  margin-bottom: 5px;
		}
	}
}

#edit-profile {
	.setup-wizard-header {
		margin-top: -$navbar-margin-bottom; // for showing banner at top of screen
	}

	.save-cancel-buttons {
		@media (min-width: $screen-sm-min) {
			margin-bottom: 10px;
		}
        .cancel-button {
            @media (max-width: $screen-sm-min) {
                margin-top: 10px;
            }
        }
	}

	.delete-profile {
		@media (min-width: $screen-sm-min) {
			float: right;
			margin-right: 10px;
		}
	}

	.delete-button {
		@media (max-width: $screen-sm-min) {
			@include center-horizontal-absolute();
		}
	}

	.submit-button, .cancel-button {
		@media (min-width: $screen-sm-min) {
			float: right;
		}
	}
}

#change-password {
	.setup-wizard-header {
		margin-top: -$navbar-margin-bottom; // for showing banner at top of screen
	}

	.div-table {
		display:table;
	}

	.form-control {
		display: inline-block !important; 
		width: 50%;		    	
    }

    .centered {
    	margin: 0 auto;
    	text-align: center;
    }

    .centered-text-left {
    	width: 50%;
	    margin: 15px auto;
	    text-align: left;
    }

	.div-table-cell {
		display:table-cell;
		float: none !important;
	}

	.bb-submit-button, .bb-cancel-button {
		display: inline-block; 
		width: 20%;
		@media (max-width: 400px) {
			display: block;
			margin-top: 10px;
			width :100%;
		}
	}
}

.new-user-container {
	.row {
		margin-left: 0px !important;
		margin-right: 0px !important; 
	}
}

#bb-confirm-btn #bb-forgot-password-btn {
    .min-width-btn {
        width: 100% !important;
        margin: auto;
        display: inherit;
    }
}
