<div class="container">
	<div class="bb-page-title"></div>
	<div class="row">
		<div class="new-user-section-header col-xs-12">
			<div class="hidden-xs col-sm-1">
				<div class="section-header-number pull-right">2</div>
			</div>
			<div class="col-xs-12 col-sm-11">
				<h4 data-i18n="equipment.gateway.header"></h4>
                <h5 data-i18n="equipment.gateway.instruction2_1"></h5>
                <h5 data-i18n="equipment.gateway.instruction2_2"></h5>
                <h5 data-i18n="equipment.gateway.instruction3"></h5>
			</div>
		</div>
       
	</div>
    
	<div class="bb-gateway row form"></div>
</div>