<div class="container">
	 <div class="row margin-t-20">
		<div class="bb-pairing-button-container-wrapper col-xs-12">
			<div class="bb-pairing-button">
				<div class="spinner"></div>
			</div>
		</div>
	</div>
    <div class="row header-row">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3" data-i18n="[html]setupWizard.pairing.header"></div>
	</div>
   
	<div class="row paragraph-row">
		<div id="bb-pairing-instruction-text" class="col-xs-12 col-sm-10 col-sm-offset-1 instruction-text-steps"></div>
	</div>
	
</div>