<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-12 bb-alarm-sounding alarm-sounding"></div>
		<div class="col-xs-12 col-md-4 bb-alert-name alert-name"></div>
		<div class="col-xs-4 col-md-3 bb-alert-dev-name"></div>
		<div class="col-xs-4 col-md-3 bb-alert-dev-alias"></div>
		<div class="col-xs-4 col-md-2 bb-alert-dateTime"></div>
	</div>
	<div class="row bb-expanded-detail-region"></div>
</div>
