<div class="col-xs-7 col-sm-10 bb-notif-title notif-title padding-l-20"></div>
<div class="col-xs-5 col-sm-2 bb-notif-date-time text-center"></div>
<div class="col-xs-12 col-sm-10 bb-notif-text notif-text padding-l-20"></div>