<tr>
	<td bgcolor="#ffffff" style="padding: 0px 52px 27px;">
				<h2 style="text-align:center; color: #455A64; font-size: 16px; line-height: 20px; font-weight: 600; padding-top:0;" >
							Open your mobile app here</h2>
	</td>
</tr>
<tr>
	<td style="padding: 0px 0px 40px;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr bgcolor="#abcee00">
				</tr>
				<tr>
					<td valign="top" width="260" bgcolor="#d3d3d3">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
							<tr>
								<td>
									<p style="text-align: center;">
										<a href="<%= iosAppLink %>">
											<button style="background-color:light-grey" type="button">
												[[ios_app_link_image]]
											</button>
										</a>
									</p>
								</td>
							</tr>
							</tbody>
						</table>
					</td>
					<td valign="top" width="26"> </td>
					<td valign="top" width="260" bgcolor="#d3d3d3">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
							<tr>
								<td>
									<p style="text-align: center;">
										<a href="<%= androidAppLink %>">
											<button style="background-color:light-grey" type="button">
												[[android_app_link_image]]
											</button>
										</a>
									</p>
								</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
