<div class="row header-row">
	<div class="col-xs-1 bb-green-check green-check"></div>
	<div class="col-xs-10 bb-contact-type contact-type"></div>
	<div class="col-xs-1 expander"></div>
</div>
<!--<div class="bb-contact-options-container contact-options-container"></div>-->

<div class="bb-contact-checkbox contact-options-container"></div>
