<a class="header-link <%= classes %>" href="<%= href %>" target="<%= target %>" data-i18n="<%= displayTextKey %>"><%= displayTextNonKey %></a>

<% if (!!hasSubMenu) { %>
<div class="sub-menu-arrow"></div>
<% } %>