<div class="logo"></div>
<div>
    <h5 data-i18n="legal.termsAndConditions.title"></h5>
    <section class="summary">
        <h5 data-i18n="legal.termsAndConditions.summary.title"></h5>
        <p data-i18n="legal.termsAndConditions.summary.part1"></p>
        <p data-i18n="legal.termsAndConditions.summary.part2"></p>
    </section>
    <section class="notice">
        <h5 data-i18n="legal.termsAndConditions.notice.title"></h5>
        <ul>
            <li><p data-i18n="legal.termsAndConditions.notice.part1.subItem1"></p></li>
            <li><p data-i18n="legal.termsAndConditions.notice.part1.subItem2"></p></li>
            <li><p data-i18n="legal.termsAndConditions.notice.part1.subItem3"></p></li>
            <li><p data-i18n="legal.termsAndConditions.notice.part1.subItem4"></p></li>
            <li><p data-i18n="legal.termsAndConditions.notice.part1.subItem5"></p></li>
        </ul>
    </section>
    <p style="margin-top: 20px; margin-bottom: 30px;" data-i18n="legal.termsAndConditions.agreements.notice"></p>
    <p data-i18n="legal.termsAndConditions.agreements.follow"></p>
    <section class="acknowledgement">
        <h5 data-i18n="legal.termsAndConditions.agreements.acknowledgement.title"></h5>
        <p data-i18n="legal.termsAndConditions.agreements.acknowledgement.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.acknowledgement.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.acknowledgement.part3"></p>
        <p data-i18n="legal.termsAndConditions.agreements.acknowledgement.part4"></p>
        <p data-i18n="legal.termsAndConditions.agreements.acknowledgement.part5"></p>
        <p data-i18n="legal.termsAndConditions.agreements.acknowledgement.part6"></p>
        <p data-i18n="legal.termsAndConditions.agreements.acknowledgement.part7"></p>
        <p data-i18n="legal.termsAndConditions.agreements.acknowledgement.part8"></p>
    </section>
    <section class="grant">
        <h5 data-i18n="legal.termsAndConditions.agreements.grant.title"></h5>
        <p data-i18n="legal.termsAndConditions.agreements.grant.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.grant.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.grant.part3"></p>
        <p data-i18n="legal.termsAndConditions.agreements.grant.part4"></p>
        <p data-i18n="legal.termsAndConditions.agreements.grant.part5"></p>
    </section>
    <section class="licence">
        <h5 data-i18n="legal.termsAndConditions.agreements.licence.title"></h5>
        <p data-i18n="legal.termsAndConditions.agreements.licence.content"></p>
        <p data-i18n="legal.termsAndConditions.agreements.licence.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.licence.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.licence.part3"></p>
        <p data-i18n="legal.termsAndConditions.agreements.licence.part4.content"></p>
        <p data-i18n="legal.termsAndConditions.agreements.licence.part4.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.licence.part4.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.licence.part4.part3"></p>
        <p data-i18n="legal.termsAndConditions.agreements.licence.part5"></p>
        <p data-i18n="legal.termsAndConditions.agreements.licence.part6"></p>
        <p data-i18n="legal.termsAndConditions.agreements.licence.part7"></p>
        <p data-i18n="legal.termsAndConditions.agreements.licence.part8"></p>
    </section>
    <section class="restriction">
        <h5 data-i18n="legal.termsAndConditions.agreements.restriction.title"></h5>
        <p data-i18n="legal.termsAndConditions.agreements.restriction.content"></p>
        <p data-i18n="legal.termsAndConditions.agreements.restriction.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.restriction.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.restriction.part3"></p>
        <p data-i18n="legal.termsAndConditions.agreements.restriction.part4"></p>
        <p data-i18n="legal.termsAndConditions.agreements.restriction.part5"></p>
    </section>
    <section class="intellectual">
        <h5 data-i18n="legal.termsAndConditions.agreements.intellectual.title"></h5>
        <p data-i18n="legal.termsAndConditions.agreements.intellectual.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.intellectual.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.intellectual.part3"></p>
    </section>
    <section class="limited">
        <h5 data-i18n="legal.termsAndConditions.agreements.limited.title"></h5>
        <p data-i18n="legal.termsAndConditions.agreements.limited.part1.content"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limited.part1.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limited.part1.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limited.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limited.part3.content"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limited.part3.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limited.part3.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limited.part3.part3"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limited.part4"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limited.part5"></p>
    </section>
    <section class="limitation">
        <h5 data-i18n="legal.termsAndConditions.agreements.limitation.title"></h5>
        <p data-i18n="legal.termsAndConditions.agreements.limitation.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limitation.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limitation.part3"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limitation.part4"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limitation.part5.content"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limitation.part5.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limitation.part5.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.limitation.part5.part3"></p>
    </section>
    <section class="termination">
        <h5 data-i18n="legal.termsAndConditions.agreements.termination.title"></h5>
        <p data-i18n="legal.termsAndConditions.agreements.termination.part1.content"></p>
        <p data-i18n="legal.termsAndConditions.agreements.termination.part1.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.termination.part1.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.termination.part1.part3"></p>
        <p data-i18n="legal.termsAndConditions.agreements.termination.part2.content"></p>
        <p data-i18n="legal.termsAndConditions.agreements.termination.part2.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.termination.part2.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.termination.part2.part3"></p>
        <p data-i18n="legal.termsAndConditions.agreements.termination.part2.part4"></p>
    </section>
    <section class="communication">
        <h5 data-i18n="legal.termsAndConditions.agreements.communication.title"></h5>
        <p data-i18n="legal.termsAndConditions.agreements.communication.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.communication.part2"></p>
    </section>
    <section class="events">
        <h5 data-i18n="legal.termsAndConditions.agreements.events.title"></h5>
        <p data-i18n="legal.termsAndConditions.agreements.events.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.events.part2.content"></p>
        <p data-i18n="legal.termsAndConditions.agreements.events.part2.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.events.part2.part2"></p>
        
    </section>
    <section class="other">
        <h5 data-i18n="legal.termsAndConditions.agreements.other.title"></h5>
        <p data-i18n="legal.termsAndConditions.agreements.other.content"></p>
        <p data-i18n="legal.termsAndConditions.agreements.other.part1"></p>
        <p data-i18n="legal.termsAndConditions.agreements.other.part2"></p>
        <p data-i18n="legal.termsAndConditions.agreements.other.part3"></p>
        <p data-i18n="legal.termsAndConditions.agreements.other.part4"></p>
        <p data-i18n="legal.termsAndConditions.agreements.other.part5"></p>
        <p data-i18n="legal.termsAndConditions.agreements.other.part6"></p>
        <p data-i18n="legal.termsAndConditions.agreements.other.part7"></p>
    </section>
</div>
<div class="back-button-region"></div>
