<div class="pull-left margin-10">
	<div class="bb-gateway-connection gateway-connection"></div>
</div>
<div class="pull-left">
	<div class="bb-gateway-address margin-10"></div>
<!--	<div class="scan-time"><%= lastScanned %></div>-->
</div>

