<div class="bb-group-tile-background tile-shadow relative-size-1x1 width100">
	<div class="absolute-fill">
		<div class="bb-group-name group-name"><%= name %></div>
		<div class="bb-group-alert-icon group-alert-icon hidden"></div>
		<div class="badge-wrapper">
			<span class="bb-group-device-count badge"><%= pinned_device_count || device_count %></span>
		</div>
		<div class="bb-pin-to-dashboard pin-to-dashboard"></div>
	</div>
</div>