<div class="modal-dialog" role="document">
	<div class="modal-content bb-modal-content">
		<button id="bb-icon-large-close" type="button" class="icon-large-close" data-dismiss="modal">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>
