<div class="row header">
	<h1 class="font-semi-bold col-xs-12 margin-b-10" data-i18n="myStatus.title"></h1>
	<h4 class="col-xs-12 bb-no-gateway-text no-gateway-text margin-b-10 hidden" data-i18n="myStatus.noGatewayMessage"></h4>
</div>
<div class="row margin-b-20">
	<div class="col-xs-12" data-i18n="equipment.oneTouch.subtitle"></div>
</div>
<div id="bb-add-status-view-region" class="add-status-view-region"></div>

