<div id="manage-device-page" class="container-fluid">
	<h1 class="h1" data-i18n="settings.manageDevices.gateway.header"></h1>
	<div id="bb-settings-gateways" class="margin-b-50">
		<div class="spinner"></div>
	</div>
	<div id="bb-settings-devices" class="margin-b-50"></div>
</div>