<div class="bb-category-tile-background tile-shadow relative-size-1x1 width100">
	<div class="absolute-fill">
		<div class="bb-category-name category-name"><%= categoryName %></div>
		<div class="bb-category-alert-icon category-alert-icon hidden"></div>
		<span class="bb-category-device-count badge"><%= category_device_count %></span>
	</div>
</div>