<div class="infoDivWrapper infoDiv row">
	<div class="col-xs-6 bb-info-widget-connected-title" data-i18n="equipment.information.headers.connected"></div>
	<div class="col-xs-6">
		<div class="bb-info-widget-connected-content infoContent"></div>
	</div>
</div>
<div class="infoDivWrapper infoDiv row">
	<div class="col-xs-6 bb-info-widget-model-title" data-i18n="equipment.information.headers.model"></div>
	<div class="col-xs-6">
		<div class="bb-info-widget-model-content infoContent"></div>
	</div>
</div>
<div class="infoDivWrapper infoDiv row">
	<div class="col-xs-6 bb-info-widget-serial-title" data-i18n="equipment.information.headers.serialNum"></div>
	<div class="col-xs-6">
		<div class="bb-info-widget-serial-content infoContent"></div>
	</div>
</div>
<div class="infoDivWrapper infoDiv row">
	<div class="col-xs-6 bb-info-widget-mac-title" data-i18n="equipment.information.headers.mac"></div>
	<div class="col-xs-6">
		<div class="bb-info-widget-mac-content infoContent"></div>
	</div>
</div>
<% if (shouldShowVersion && !!version) { %>
<div class="infoDivWrapper row">
	<div class="col-xs-6 bb-info-widget-sw-version-title" data-i18n="equipment.information.headers.version"></div>
	<div class="col-xs-6">
		<div class="bb-info-widget-sw-version-content infoContent"><%= version %></div>
	</div>
</div>
<% } %>