<div class="bb-add-new-interval-text add-new-interval-text" data-i18n="schedules.schedule.newInterval.title"></div>
<div class="time-row row">
	<div class="start-time col-xs-12">
		<div class="clock-icon center-vertical-absolute"></div>
		<div class="bb-start-time-region start-time-region"></div>
	</div>
</div>
<div class="temperature-row bb-temperature-heat-row row">
	<div class="temperature col-xs-12">
		<div class="temperature-icon center-vertical-absolute"></div>
		<div class="bb-temperature-heat-region temperature-region"></div>
	</div>
</div>
<div class="temperature-row bb-temperature-cool-row row">
	<div class="temperature col-xs-12">
		<div class="temperature-icon center-vertical-absolute"></div>
		<div class="bb-temperature-cool-region temperature-region"></div>
	</div>
</div>
<div class="on-off-row bb-on-off-row row">
	<div class="col-xs-12">
		<div class="power-icon inline-block"></div>
		<div class="bb-radio-on-region radio-region"></div>
		<div class="bb-radio-off-region radio-region"></div>
	</div>
</div>
<div class="bb-buttons-row buttons-row row margin-b-10 margin-l-0">
	<div class="bb-add-button add-button col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-3"></div>
	<div class="bb-cancel-button cancel-button col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-3"></div>
</div>
<div class="row bb-delete-row hidden margin-b-30">
	<div class="col-xs-12 col-md-7">
		<a class="bb-delete-interval delete-interval" href="#noOp" data-i18n="schedules.schedule.deleteInterval"></a>
	</div>
</div>