<h1 class="bb-title title margin-b-20"></h1>
<h4 class="subtitle" data-i18n="schedules.thermostat.subtitle"></h4>
<div class="bb-schedule-collection thermostat-single-collection row"></div>
<div class="bb-thermostat-individual-collection thermostat-individual-collection row"></div>