<div class="bb-days days col-xs-12"></div>
<div class="column-labels row margin-b-20">
	<div class="time-holder col-xs-5 col-md-3">
		<div class="time-icon center-vertical-absolute"></div>
		<div class="time text-left padding-l-30" data-i18n="schedules.schedule.columnLabels.startTime"></div>
	</div>
	<div class="schedule-value-holder padding-l-40 col-xs-6 col-md-4">
		<div class="bb-schedule-value-icon schedule-value-icon center-vertical-absolute"></div>
		<div class="bb-schedule-value-header padding-l-10 schedule-value-header"></div>
	</div>
</div>
<div class="bb-schedule-intervals schedule-intervals row margin-b-30"></div>
<div class="bb-add-new-interval-button bb-add-new-interval-region add-new-interval-region col-xs-12 col-md-10 padding-l-0 hidden"></div>
<div class="add-interval-row row">
	<div class="bb-add-interval-button add-interval-button-region col-xs-12 col-md-10">
		<div role="button" class="bb-add-interval add-interval pull-right">
			<div class="text" data-i18n="schedules.schedule.addInterval"></div>
			<div class="add-icon center-vertical-absolute"></div>
		</div>
	</div>
</div>
