<div class="container">
            <div class="row">
<!--                <div class="col-xs-4 nav-min-height">
                    <div class="navbar-brand salus-navbar-brand center-vertical-absolute">
                        <img class="center-block" src="/images/icons/icon_svg_logo_white.svg">
                    </div>
                </div>-->
                <div class="col-xs-4 nav-min-height pull-left">
                    <div style="padding: 33.5px 10px;">
                        <div class="logo center-vertical-absolute"></div>
                    </div>
                </div>
                <div class="col-xs-4 visible-xs nav-min-height pull-right">
                    <div class="hamburger center-vertical-absolute"></div>
                </div>
            </div>
        </div>


<!--<div class="salus_logo"></div>-->
<!--<h1 class="text-center"><%= header %></h1>-->
<div class="spinner"></div>
